@import "./../base/base.css";
@import "./../base/layout.css";
@import "./../components/btn.css";
@import "./../3rd-party/font-awesome.min.css";

/* header start */
.logo {
  height: 40px;
  width: 60px;
  object-fit: contain;
  object-position: left;
  float: left;
}

.main-menu {
  float: right;
  margin-top: 12px;
}
.main-menu > .link {
  display: inline-block;
  margin-left: 2em;
  color: #000;
  font-size: 12px;
  text-decoration: none;
  line-height: 1em;
}

.link:first-child {
  margin-left: 0px;
}

/* header end */

/* hero start */
.bgk {
  background-color: #74c69d;
}

/* hero end */

/* main start */

/* footer start */
.socials {
  float: left;
}
.icon {
  font: #ffff;
}
.fa {
}

.copyrigh {
  float: right;
}
/* footer end */

.social-item {
}
